<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="benjaminjthompson.com.sunshine" >
    <uses-sdk android:minSdkVersion="8"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:logo="@drawable/ic_launcher"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="benjaminjthompson.com.sunshine.MyActivity" />
        </activity>
        <activity android:name=".SettingsActivity"
            android:logo="@drawable/ic_launcher"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:id="@id/action_settings">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="MyActivity"/>
            </activity>
        <provider
            android:authorities="benjaminjthompson.com.sunshine"
            android:name=".data.WeatherProvider"/>
    </application>

</manifest>
